<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
		/* Side Bar Style Start */
		* {
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }

        body {
            background: #f5f6fa;
        }

        .wrapper .sidebar {
            background: rgb(5, 68, 104);
            position: fixed;
            top: 0;
            left: 0;
            width: 225px;
            height: 100%;
            padding: 20px 0;
            transition: all 0.5s ease;
        }

        .wrapper .sidebar .profile {
            margin-bottom: 30px;
            text-align: center;
        }

        .wrapper .sidebar .profile img {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
        }

        .wrapper .sidebar .profile h3 {
            color: #ffffff;
            margin: 10px 0 5px;
        }

        .wrapper .sidebar .profile p {
            color: rgb(206, 240, 253);
            font-size: 14px;
        }

        .wrapper .sidebar ul li a {
            display: block;
            padding: 13px 30px;
            border-bottom: 1px solid #10558d;
            color: rgb(241, 237, 237);
            font-size: 16px;
            position: relative;
        }

        .wrapper .sidebar ul li a .icon {
            color: #dee4ec;
            width: 30px;
            display: inline-block;
        }

        .wrapper .sidebar ul li a:hover,
        .wrapper .sidebar ul li a.active {
            color: #0c7db1;
            background: white;
            border-right: 2px solid rgb(5, 68, 104);
        }

        .wrapper .sidebar ul li a:hover .icon,
        .wrapper .sidebar ul li a.active .icon {
            color: #0c7db1;
        }

        .wrapper .sidebar ul li a:hover:before,
        .wrapper .sidebar ul li a.active:before {
            display: block;
        }

        .wrapper .section {
            width: calc(100% - 225px);
            margin-left: 225px;
            transition: all 0.5s ease;
        }

        .wrapper .section .top_navbar {
            background: rgb(7, 105, 185);
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 30px;
        }

        .wrapper .section .top_navbar .hamburger a {
            font-size: 28px;
            color: #f4fbff;
        }

        .wrapper .section .top_navbar .hamburger a:hover {
            color: #a2ecff;
        }

        body.active .wrapper .sidebar {
            left: -225px;
        }

        body.active .wrapper .section {
            margin-left: 0;
            width: 100%;
        }
        /*.wrapper .section .home-page {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }*/

        .wrapper .sidebar ul ul {
            list-style-type: none;
            padding-left: 20px;
        }

        .wrapper .sidebar ul ul li a {
            padding: 10px 20px;
            border-bottom: none;
        }
        /* Side Bar Style END */
        
        body {
        	background-color: #f5f5f5;
        	/* Light Green */
        	margin: 20px;
        }

         .container {
        	background-color: white;
        	padding: 2px;
        	margin-top: 20px;
        	border-radius: 10px;
        }

        h2 {
        	color: #008000;
        	/* Dark Green */
        }

        #productForm {
        	display: none;
        }

        /* Add color styles based on the quality level */
        /* .quality-LOW {
        	color: red;
        } 

        .quality-MEDIUM {
        	color: #FFD700;
        }

        .quality-HIGH {
        	color: green;
        } */

        /* breadcrumb */
        .breadcrumb {
        	background-color: #f8f9fa;
        	padding: 8px;
        	border-radius: 4px;
        	display: flex;
        	flex-wrap: nowrap;
        	align-items: center;
        	/* Align items vertically */
        }

        .breadcrumb-item+.breadcrumb-item::before {
        	content: '>';
        	margin: 0 5px;
        }

        .notification-icon,
        .settings-icon {
        	font-size: 24px;
        	cursor: pointer;
        	transition: color 0.3s ease;
        }

        .settings-icon:hover {
        	color: #007bff;
        }

        .dropdown-menu-right {
        	right: 0;
        	left: auto;
        }

        .breadcrumb {
        	position: relative;
        }

        .breadcrumb-icons {
        	position: absolute;
        	top: 50%;
        	right: 50px;
        	transform: translateY(-50%);
        }
        .required {
		    color: red;
		}
    </style>
</head>
<body>

<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Profile image & text -->
        <div class="profile">
            <img src="images/logo.jpg" alt="profile_picture">
            <h3>Account</h3>
            <p>Peter</p>
        </div>

        <!-- Menu items -->
        <ul>
            <li>
                <a th:href="@{/home}">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a th:href="@{/getProducts}">
                    <span class="icon"><i class="fas fa-desktop"></i></span>
                    <span class="item">Products</span>
                </a>
                <ul>
                    <!--<li><a href="#" onclick="showProductForm('add')">Add Product</a></li>-->
                    <li><a href="#" onclick="showProductForm('add')" id="addProductLink"><span class="icon"><i class="fas fa-plus"></i></span><span class="item">Add Product</span></a></li>
                    <!--<li><a href="#" onclick="showProductForm('edit')">Edit Product</a></li>-->
                    <li><a href="#" onclick="showProductForm('edit')" id="editProductLink"><span class="icon"><i class="fas fa-edit"></i></span><span class="item">Edit Product</span></a></li>
                    <!--<li><a href="#" onclick="deleteSelected()">Delete Product</a></li>-->
                    <!-- Inside the <li> tag for "Delete Product" -->
					<li><a href="#" onclick="deleteSelected()" id="deleteProductLink"><span class="icon"><i class="fas fa-trash"></i></span><span class="item">Delete Product</span></a></li>

                </ul>
            </li>
            <li>
                <a th:href="@{/getProductInspection}">
                    <span class="icon"><i class="fas fa-check-circle"></i></span>
                    <span class="item">Quality Metric</span>
                </a>
                <!--<ul>
                    <li><a href="#">Auto Inspect</a></li>
                    <li><a href="#">Manual Inspect</a></li>
                </ul>-->
            </li>
            <li>
                <a th:href="@{/reports}">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="item">Reports</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content section -->
    <div class="section">
        <div class="top_navbar">
            <div class="hamburger">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <h2>Product Inspection Tool</h2>
        
        <!-- breadcrumb START -->
	        <div class="container">
        <!-- Breadcrumb with Tabs -->
        <nav aria-label="breadcrumb" class="breadcrumb">
			<div class="breadcrumb-search">
		        <div class="input-group">
				    <input type="text" class="form-control" id="productIdSearch" placeholder="Search Product ID">
				    <div class="input-group-append">
				        <button class="btn btn-primary" type="button" onclick="searchProduct()">Search</button>
				    </div>
				</div>
		    </div>
            <ol class="breadcrumb"></ol>
            <!-- Notification and Settings Icons -->
            <div class="breadcrumb-icons">
                <!-- Logout Button -->
			    <div class="notification-icon" style="top: 20px; right: 20px;">
			        <form th:action="@{/logout}" method="post">
			            <button type="submit" class="btn btn-danger">Logout</button>
			        </form>
			    </div>
            </div>
        </nav>
    </div>
	
	    <!-- Bootstrap JS and Popper.js -->
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		
		<!-- breadcrumb END -->
		
        <h4>Product List</h4>

        <!-- Product List Table -->
        <table class="table">
            <thead>
                <tr>
                    <!--<th scope="col"><input type="checkbox"></th>-->
                    <th scope="col"><input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes()" disabled></th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Manuf Date</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Colour</th>
                    <!--<th scope="col">Quality</th>-->
                </tr>
            </thead>
            <tbody>
                <!-- Use Thymeleaf to iterate over the list of products -->
                <tr th:each="product : ${products}">
                    <!--<td><input type="checkbox"></td>-->
                    <td><input type="checkbox" class="productCheckbox" onclick="toggleCheckbox(this)"></td>
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.manufacturingDate}"></td>
                    <td th:text="${product.expiryDate}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.weight}"></td>
                    <td th:text="${product.colour}"></td>
                    <!--<td th:text="${product.quality}"></td>-->
                    <!--<td th:class="${'quality-' + product.quality}" th:text="${product.quality}"></td>-->
                </tr>
            </tbody>
        </table>
        <!-- Buttons -->
        <!--<button class="btn btn-primary" onclick="showProductForm('add')">Add</button>
        <button class="btn btn-warning" onclick="showProductForm('edit')">Edit</button>
        <button class="btn btn-danger" onclick="deleteSelected()">Delete</button>-->

        <!-- Product Form -->
    <!--<form id="productForm">-->
    <form th:action="@{/register}" method="post" id="productForm">
	<!--<form th:action="${#strings.endsWith(action, 'add') ? '/register' : '/edit'}" method="post" id="productForm">-->
      <h6>Add/Edit Product</h6>

      <div class="form-row">
        <!-- Product Id -->
        <div class="form-group col-md-4">
          <label for="productId">Product Id:  <span class="required">*</span></label>
          <input type="text" class="form-control" id="productId" name="productId" required>
        </div>

        <!-- Name -->
        <div class="form-group col-md-4">
          <label for="name">Name:  <span class="required">*</span></label>
          <input type="text" class="form-control" id="name" name="name">
        </div>

        <!-- Description -->
        <div class="form-group col-md-4">
          <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" name="description" >
        </div>
      </div>

      <div class="form-row">
        <!-- Quantity -->
        <div class="form-group col-md-4">
          <label for="quantity">Quantity:(Kg)</label>
          <input type="text" class="form-control" id="quantity" name="quantity" >
        </div>

        <!-- Price -->
        <div class="form-group col-md-4">
          <label for="price">Price:</label>
          <input type="text" class="form-control" id="price" name="price" >
        </div>

        <!-- Category Dropdown -->
        <div class="form-group col-md-4">
          <label for="category">Category:  <span class="required">*</span></label>
          <select class="form-control" id="category" name="category" onchange="showCategoryDtls()">
			<option value=""></option>
            <option value="Grocery">Grocery</option>
            <option value="Dairy">Dairy</option>
            <option value="Bakery">Bakery</option>
            <option value="Beverages">Beverages</option>
            <option value="MeatAndPoultry">Meat and Poultry</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <!-- Colour -->
        <div class="form-group col-md-4">
          <label for="colour">Colour:</label>
          <input type="text" class="form-control" id="colour" name="colour" >
        </div>

        <!-- Expiry Date -->
        <div class="form-group col-md-4">
          <label for="expiryDate">Expiry Date:  <span class="required">*</span></label>
          <input type="date" class="form-control" id="expiryDate" name="expiryDate" >
        </div>

        <!-- Manufacturing Date -->
        <div class="form-group col-md-4">
          <label for="manufacturingDate">Manufacturing Date:  <span class="required">*</span></label>
          <input type="date" class="form-control" id="manufacturingDate" name="manufacturingDate" >
        </div>
        <!-- Weight -->
        <div class="form-group col-md-4">
          <label for="weight">Weight:(Kg)</label>
          <input type="text" class="form-control" id="weight" name="weight" >
        </div>
      </div>

      <!--<div class="form-row">
         Quality 
        <div class="form-group col-md-4">
          <label for="quality">Quality:</label>
          <select class="form-control" id="quality" name="quality" >
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="HIGH">HIGH</option>
          </select>
        </div>

        
        <div class="form-group col-md-4">
          <label for="weight">Weight:</label>
          <input type="text" class="form-control" id="weight" name="weight" >
        </div>
      </div>-->
      <!-- Category Link Fields -->
      <h6 class="categoryQuality">Category Quality</h6>
      <!-- Grocery -->
      <div class="form-row Grocery">
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Organic:</label>
	        <!--<input type="text" class="form-control" id="organic" name="organic" value="">-->
	        <select class="form-control" id="organic" name="organic">
		        <option value=""></option>
		        <option value="YES">YES</option>
		        <option value="NO">NO</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Non-GMO:</label>
	        <!--<input type="text" class="form-control" id="nonGmo" name="nonGmo">-->
	        <select class="form-control" id="nonGmo" name="nonGmo">
		        <option value=""></option>
		        <option value="YES">YES</option>
		        <option value="NO">NO</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Whole Grain:</label>
	        <input type="text" class="form-control" id="wholeGrain" name="wholeGrain">
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Freshness: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="freshnessGrocery" name="freshnessGrocery">-->
	        <select class="form-control" id="freshnessGrocery" name="freshnessGrocery">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Nutrient Content: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="nutrientContent" name="nutrientContent">-->
	        <select class="form-control" id="nutrientContent" name="nutrientContent">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	</div>
	<!-- Dairy -->
      <div class="form-row Dairy">
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Freshness: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="freshnessDairy" name="freshnessDairy">-->
	        <select class="form-control" id="freshnessDairy" name="freshnessDairy">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Purity:</label>
	        <!--<input type="text" class="form-control" id="purity" name="purity">-->
	        <select class="form-control" id="purity" name="purity">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Fat Content: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="fatContent" name="fatContent">-->
	        <select class="form-control" id="fatContent" name="fatContent">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Homogenization:</label>
	        <!--<input type="text" class="form-control" id="homogenization" name="homogenization">-->
	        <select class="form-control" id="homogenization" name="homogenization">
		        <option value=""></option>
		        <option value="YES">YES</option>
		        <option value="NO">NO</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Pasteurization:</label>
	        <!--<input type="text" class="form-control" id="pasteurization" name="pasteurization">-->
	        <select class="form-control" id="pasteurization" name="pasteurization">
		        <option value=""></option>
		        <option value="YES">YES</option>
		        <option value="NO">NO</option>
		    </select>
	    </div>
	</div>
	<!-- Bakery -->
      <div class="form-row Bakery">
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Freshness: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="freshnessBakery" name="freshnessBakery">-->
	        <select class="form-control" id="freshnessBakery" name="freshnessBakery">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Texture:</label>
	        <!--<input type="text" class="form-control" id="texture" name="texture">-->
	        <select class="form-control" id="texture" name="texture">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Moisture Content: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="moistureContent" name="moistureContent">-->
	        <select class="form-control" id="moistureContent" name="moistureContent">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Flavor:</label>
	        <!--<input type="text" class="form-control" id="flavorBakery" name="flavorBakery">-->
	        <select class="form-control" id="flavorBakery" name="flavorBakery">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Uniformity(Size,Shape):</label>
	        <!--<input type="text" class="form-control" id="uniSizeShape" name="uniSizeShape">-->
	        <select class="form-control" id="uniSizeShape" name="uniSizeShape">
		        <option value=""></option>
		        <option value="UNIFORM">UNIFORM</option>
		        <option value="NON_UNIFORM">NON_UNIFORM</option>
		    </select>
	    </div>
	</div>
	<!-- Beverages -->
      <div class="form-row Beverages">
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Natural Ingredients: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="naturalIngredients" name="naturalIngredients">-->
	        <select class="form-control" id="naturalIngredients" name="naturalIngredients">
		        <option value=""></option>
		        <option value="YES">YES</option>
		        <option value="NO">NO</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Flavor:</label>
	        <!--<input type="text" class="form-control" id="flavorBeverages" name="flavorBeverages">-->
	        <select class="form-control" id="flavorBeverages" name="flavorBeverages">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Color:</label>
	        <!--<input type="text" class="form-control" id="colorBeverages" name="colorBeverages">-->
	        <select class="form-control" id="colorBeverages" name="colorBeverages">
		        <option value=""></option>
		        <option value="CHANGED">CHANGED</option>
		        <option value="UNCHANGED">UNCHANGED</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Clarity:</label>
	        <!--<input type="text" class="form-control" id="clarity" name="clarity">-->
	        <select class="form-control" id="clarity" name="clarity">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Shelf Life: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="shelfLife" name="shelfLife">-->
	        <select class="form-control" id="shelfLife" name="shelfLife">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	</div>
	<!-- Meat -->
      <div class="form-row MeatAndPoultry">
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Freshness: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="freshnessMeat" name="freshnessMeat">-->
	        <select class="form-control" id="freshnessMeat" name="freshnessMeat">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Marbling:</label>
	        <!--<input type="text" class="form-control" id="marbling" name="marbling">-->
	        <select class="form-control" id="marbling" name="marbling">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Color:</label>
	        <!--<input type="text" class="form-control" id="colorMeat" name="colorMeat">-->
	        <select class="form-control" id="colorMeat" name="colorMeat">
		        <option value=""></option>
		        <option value="CHANGED">CHANGED</option>
		        <option value="UNCHANGED">UNCHANGED</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Odor: <span class="required">*</span></label>
	        <!--<input type="text" class="form-control" id="odor" name="odor">-->
	        <select class="form-control" id="odor" name="odor">
		        <option value=""></option>
		        <option value="CHANGED">CHANGED</option>
		        <option value="UNCHANGED">UNCHANGED</option>
		    </select>
	    </div>
	    <div class="form-group col-md-2 d-flex flex-column align-items-start">
	        <label for="weight">Temperature Control:</label>
	        <!--<input type="text" class="form-control" id="temperatureControl" name="temperatureControl">-->
	        <select class="form-control" id="temperatureControl" name="temperatureControl">
		        <option value=""></option>
		        <option value="HIGH">HIGH</option>
		        <option value="MEDIUM">MEDIUM</option>
		        <option value="LOW">LOW</option>
		    </select>
	    </div>
	</div>


      <!-- Submit Button -->
		<button type="submit" class="btn btn-success">Submit</button>
      <!-- Cancel Button -->
		<button type="button" class="btn btn-secondary" onclick="cancelProductForm()">Cancel</button>
    </form>


    </div>
	<!-- JavaScript to toggle visibility of the form -->
    <!-- Include Axios via CDN in your HTML file -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
<script>
		var hamburger = document.querySelector(".hamburger");
	    hamburger.addEventListener("click", function(){
	        document.querySelector("body").classList.toggle("active");
	    });
        //var homePage = document.querySelector('.wrapper .section .home-page');
        //homePage.style.display = 'flex';
        
        //var productContentSection = document.querySelector('.container');
        //productContentSection.style.display = 'none';
        
        // Handling category details
        //categoryQuality
        var categoryQualityHeading = document.querySelector('.categoryQuality');
        categoryQualityHeading.style.display = 'none';
        //Grocery
        var groceryCategory = document.querySelector('.Grocery');
        groceryCategory.style.display = 'none';
        //Dairy
        var dairyCategory = document.querySelector('.Dairy');
        dairyCategory.style.display = 'none';
        //Bakery
        var bakeryCategory = document.querySelector('.Bakery');
        bakeryCategory.style.display = 'none';
        //Beverages
        var beveragesCategory = document.querySelector('.Beverages');
        beveragesCategory.style.display = 'none';
        //Meat
        var meatCategory = document.querySelector('.MeatAndPoultry');
        meatCategory.style.display = 'none';
        
    function searchProduct() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("productIdSearch");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table"); // Assuming your table has the "table" class
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; // Assuming Product ID is in the second column
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function callProducts() {
        productContentSection.style.display = 'block'; // Change 'flex' to 'block' if you prefer
        homePage.style.display = 'none';
    }
    // Handling category showCategoryDtls()
    function showCategoryDtls() {
	    var selectedCategory = document.getElementById('category').value;
		if(selectedCategory === 'Grocery'){
			categoryQualityHeading.style.display = 'flex';
			meatCategory.style.display = 'none';
			beveragesCategory.style.display = 'none';
			bakeryCategory.style.display = 'none';
			dairyCategory.style.display = 'none';
			groceryCategory.style.display = 'flex';
		}else if(selectedCategory === 'Dairy'){
			categoryQualityHeading.style.display = 'flex';
			meatCategory.style.display = 'none';
			beveragesCategory.style.display = 'none';
			bakeryCategory.style.display = 'none';
			groceryCategory.style.display = 'none';
			dairyCategory.style.display = 'flex';
		}else if(selectedCategory === 'Bakery'){
			categoryQualityHeading.style.display = 'flex';
			meatCategory.style.display = 'none';
			beveragesCategory.style.display = 'none';
			dairyCategory.style.display = 'none';
			groceryCategory.style.display = 'none';
			bakeryCategory.style.display = 'flex';
		}else if(selectedCategory === 'Beverages'){
			categoryQualityHeading.style.display = 'flex';
			meatCategory.style.display = 'none';
			bakeryCategory.style.display = 'none';
			dairyCategory.style.display = 'none';
			groceryCategory.style.display = 'none';
			beveragesCategory.style.display = 'flex';
		}else if(selectedCategory === 'MeatAndPoultry'){
			categoryQualityHeading.style.display = 'flex';
			beveragesCategory.style.display = 'none';
			bakeryCategory.style.display = 'none';
			dairyCategory.style.display = 'none';
			groceryCategory.style.display = 'none';
			meatCategory.style.display = 'flex';
		}else{
			categoryQualityHeading.style.display = 'none';
			beveragesCategory.style.display = 'none';
			bakeryCategory.style.display = 'none';
			dairyCategory.style.display = 'none';
			groceryCategory.style.display = 'none';
			meatCategory.style.display = 'none';
		}
	}

    
    function showProductForm(action) {
				var form = document.getElementById('productForm');
		if (action === 'add') {
	        document.getElementById('addProductLink').classList.add('active');
	        document.getElementById('editProductLink').classList.remove('active');
	    } else if (action === 'edit') {
	        document.getElementById('editProductLink').classList.add('active');
	        document.getElementById('addProductLink').classList.remove('active');
	    }
				//alert("test1");
				if (action === 'add') {
					// Show the form
					form.style.display = 'block';

					// Enable the form elements
					enableFormElements(form);
						//alert("test2");
					// Add an event listener to the form submission
					form.addEventListener('submit', function (event) {
						event.preventDefault(); // Prevent the default form submission
							//alert("test3");
						// Collect data from form fields
						var productIdInput = document.getElementById('productId').value;
						var productName = document.getElementById('name').value;
						var productDescription = document.getElementById('description').value;
						var productPrice = document.getElementById('price').value;
						var productQuantity = document.getElementById('quantity').value;
						var productManufacturingDate = document.getElementById('manufacturingDate').value;
						var productExpiryDate = document.getElementById('expiryDate').value;
						var productCategory = document.getElementById('category').value;
						var productWeight = document.getElementById('weight').value;
						var productColour = document.getElementById('colour').value;
						//var productQuality = "";
						//alert("test4");
						// Quality Parameters
						var productorganic = document.getElementById('organic').value;
						var productnonGmo = document.getElementById('nonGmo').value;
						var productwholeGrain = document.getElementById('wholeGrain').value;
						var productfreshnessGrocery = document.getElementById('freshnessGrocery').value;
						var productnutrientContent = document.getElementById('nutrientContent').value;
						//alert("test5");
						var productfreshnessDairy = document.getElementById('freshnessDairy').value;
						var productpurity = document.getElementById('purity').value;
						var productfatContent = document.getElementById('fatContent').value;
						var producthomogenization = document.getElementById('homogenization').value;
						var productpasteurization = document.getElementById('pasteurization').value;
						//alert("test5");
						var productfreshnessBakery = document.getElementById('freshnessBakery').value;
						var producttexture = document.getElementById('texture').value;
						var productmoistureContent = document.getElementById('moistureContent').value;
						var productflavorBakery = document.getElementById('flavorBakery').value;
						var productuniSizeShape = document.getElementById('uniSizeShape').value;
						//alert("test6");
						var productnaturalIngredients = document.getElementById('naturalIngredients').value;
						var productflavorBeverages = document.getElementById('flavorBeverages').value;
						var productcolorBeverages = document.getElementById('colorBeverages').value;
						var productclarity = document.getElementById('clarity').value;
						var productshelfLife = document.getElementById('shelfLife').value;
						//alert("test7");
						var productfreshnessMeat = document.getElementById('freshnessMeat').value;
						var productmarbling = document.getElementById('marbling').value;
						var productcolorMeat = document.getElementById('colorMeat').value;
						var productodor = document.getElementById('odor').value;
						var producttemperatureControl = document.getElementById('temperatureControl').value;

						//alert("test8");

						// Collect other fields as needed...

						// Create a JavaScript object with the collected data
						var productData = {
							productId: productIdInput,
							name: productName,
							description: productDescription,
							price: productPrice,
							quantity: productQuantity,
							manufacturingDate: productManufacturingDate,
							expiryDate: productExpiryDate,
							category: productCategory,
							weight: productWeight,
							colour: productColour,
							mode: action,
							organic: productorganic,
							nonGmo: productnonGmo,
							wholeGrain: productwholeGrain,
							freshnessGrocery: productfreshnessGrocery,
						    nutrientContent: productnutrientContent,
						    freshnessDairy: productfreshnessDairy,
						    purity: productpurity,
						    fatContent: productfatContent,
						    homogenization: producthomogenization,
						    pasteurization: productpasteurization,
						    freshnessBakery: productfreshnessBakery,
						    texture: producttexture,
						    moistureContent: productmoistureContent,
						    flavorBakery: productflavorBakery,
						    uniSizeShape: productuniSizeShape,
						    naturalIngredients: productnaturalIngredients,
						    flavorBeverages: productflavorBeverages,
						    colorBeverages: productcolorBeverages,
						    clarity: productclarity,
						    shelfLife: productshelfLife,
						    freshnessMeat: productfreshnessMeat,
						    marbling: productmarbling,
						    colorMeat: productcolorMeat,
						    odor: productodor,
						    temperatureControl: producttemperatureControl,
							// Add other fields...
						};
						// Use Axios to make the POST request
						axios.post('/register', productData, {
							headers: {
								'Content-Type': 'application/json',
							},
						})
							.then(response => {
								console.log('Success:', response.data);
								// Disable the form elements after submission
								disableFormElements(form);
								// Reload the page after successful form submission
								location.reload(true);
							})
							.catch(error => {
								console.error('Error:', error);
							});
					});
				} else if (action === 'edit') {
					// Hide the form initially
					form.style.display = 'none';
					// Find the selected product in the table
					var selectedProduct = document.querySelector('input[type="checkbox"]:checked').closest('tr');
					
					if (selectedProduct) {
						// Show the form
						form.style.display = 'block';

						// Disable the form elements initially for editing
						enableFormElements(form);

						// Populate form fields with selected product data
						document.getElementById('productId').value = selectedProduct.querySelector('td:nth-child(2)').innerText;
						document.getElementById('name').value = selectedProduct.querySelector('td:nth-child(3)').innerText;
						document.getElementById('description').value = selectedProduct.querySelector('td:nth-child(4)').innerText;
						document.getElementById('price').value = selectedProduct.querySelector('td:nth-child(5)').innerText;
						document.getElementById('quantity').value = selectedProduct.querySelector('td:nth-child(6)').innerText;

						var productIdInput = document.getElementById('productId');
						// Disable Product Id input field
						productIdInput.disabled = true;

						var manufacturingDateCell = selectedProduct.querySelector('td:nth-child(7)');
						var expiryDateCell = selectedProduct.querySelector('td:nth-child(8)');
						var manufacturingDate = isValidDate(manufacturingDateCell.innerText) ? manufacturingDateCell.innerText : '';
						var expiryDate = isValidDate(expiryDateCell.innerText) ? expiryDateCell.innerText : '';


						document.getElementById('manufacturingDate').value = manufacturingDate;
						document.getElementById('expiryDate').value = expiryDate;
						document.getElementById('category').value = selectedProduct.querySelector('td:nth-child(9)').innerText;
						document.getElementById('weight').value = selectedProduct.querySelector('td:nth-child(10)').innerText;
						document.getElementById('colour').value = selectedProduct.querySelector('td:nth-child(11)').innerText;
						//document.getElementById('quality').value = selectedProduct.querySelector('td:nth-child(12)').innerText;
						//post call for getting category list
						
						var categoryName = selectedProduct.querySelector('td:nth-child(9)').innerText.trim();
						var productIdVal = selectedProduct.querySelector('td:nth-child(2)').innerText.trim();
						var categoryData = {
								category: categoryName,
								productId: productIdVal,
						};
						//var initialise
						var organicVal = "";
						var nonGmoVal = "";
						var wholeGrainVal = "";
						var freshnessGroceryVal = "";
						var nutrientContentVal = "";
						
						var freshnessDairyVal = "";
						var purityVal = "";
						var fatContentVal = "";
						var homogenizationVal = "";
						var pasteurizationVal = "";
						
						var freshnessBakeryVal = "";
						var textureVal = "";
						var moistureContentVal = "";
						var flavorBakeryVal = "";
						var uniSizeShapeVal = "";
						
						var naturalIngredientsVal = "";
						var flavorBeveragesVal = "";
						var colorBeveragesVal = "";
						var clarityVal = "";
						var shelfLifeVal = "";
						
						var freshnessMeatVal = "";
						var marblingVal = "";
						var colorMeatVal = "";
						var odorVal = "";
						var temperatureControlVal = "";
						axios.post('/getCategoryDtls', categoryData, {
						    headers: {
						        'Content-Type': 'application/json',
						    },
						})
						    .then(response => {
						        console.log('Success:', response.data);
						
						        // Handle the list received in the response
						        const dto = response.data;
						        organicVal = dto.organic;
								nonGmoVal = dto.nonGmo;
								wholeGrainVal = dto.wholeGrain;
								freshnessGroceryVal = dto.freshnessGrocery;
								nutrientContentVal = dto.nutrientContent;
								
								freshnessDairyVal = dto.freshnessDairy;
								purityVal = dto.purity;
								fatContentVal = dto.fatContent;
								homogenizationVal = dto.homogenization;
								pasteurizationVal = dto.pasteurization;
								
								freshnessBakeryVal = dto.freshnessBakery;
								textureVal = dto.texture;
								moistureContentVal = dto.moistureContent;
								flavorBakeryVal = dto.flavorBakery;
								uniSizeShapeVal = dto.uniSizeShape;
								
								naturalIngredientsVal = dto.naturalIngredients;
								flavorBeveragesVal = dto.flavorBeverages;
								colorBeveragesVal = dto.colorBeverages;
								clarityVal = dto.clarity;
								shelfLifeVal = dto.shelfLife;
								
								freshnessMeatVal = dto.freshnessMeat;
								marblingVal = dto.marbling;
								colorMeatVal = dto.colorMeat;
								odorVal = dto.odor;
								temperatureControlVal = dto.temperatureControl;
								
								// Set value based on the category
								if (categoryName === 'Grocery') {
								    var groceryCategory = document.querySelector('.Grocery');
		        					groceryCategory.style.display = 'flex';
		        					
									document.getElementById('organic').value = organicVal;
									document.getElementById('nonGmo').value = nonGmoVal;
									document.getElementById('wholeGrain').value = wholeGrainVal;
									document.getElementById('freshnessGrocery').value = freshnessGroceryVal;
									document.getElementById('nutrientContent').value = nutrientContentVal;
								    
								} else if (categoryName === 'Dairy') {
								    var dairyCategory = document.querySelector('.Dairy');
		        					dairyCategory.style.display = 'flex';
		        					
		        					document.getElementById('freshnessDairy').value = freshnessDairyVal;
									document.getElementById('purity').value = purityVal;
									document.getElementById('fatContent').value = fatContentVal;
									document.getElementById('homogenization').value = homogenizationVal;
									document.getElementById('pasteurization').value = pasteurizationVal;
		        					
								} else if (categoryName === 'Bakery'){
									var bakeryCategory = document.querySelector('.Bakery');
		        					bakeryCategory.style.display = 'flex';
		        					
		        					document.getElementById('freshnessBakery').value = freshnessBakeryVal;
									document.getElementById('texture').value = textureVal;
									document.getElementById('moistureContent').value = moistureContentVal;
									document.getElementById('flavorBakery').value = flavorBakeryVal;
									document.getElementById('uniSizeShape').value = uniSizeShapeVal;
		        					
								} else if (categoryName === 'Beverages'){
									var beveragesCategory = document.querySelector('.Beverages');
		        					beveragesCategory.style.display = 'flex';
		        					
		        					document.getElementById('naturalIngredients').value = naturalIngredientsVal;
									document.getElementById('flavorBeverages').value = flavorBeveragesVal;
									document.getElementById('colorBeverages').value = colorBeveragesVal;
									document.getElementById('clarity').value = clarityVal;
									document.getElementById('shelfLife').value = shelfLifeVal;
		        					
								} else if (categoryName === 'MeatAndPoultry'){
									var meatCategory = document.querySelector('.MeatAndPoultry');
		        					meatCategory.style.display = 'flex';
		        					
		        					document.getElementById('freshnessMeat').value = freshnessMeatVal;
									document.getElementById('marbling').value = marblingVal;
									document.getElementById('colorMeat').value = colorMeatVal;
									document.getElementById('odor').value = odorVal;
									document.getElementById('temperatureControl').value = temperatureControlVal;
		        					
								}

						    })
						    .catch(error => {
						        console.error('Error:', error);
						    });
						
						// Add an event listener to the form submission
						form.addEventListener('submit', function (event) {
							event.preventDefault(); // Prevent the default form submission
							// Collect data from form fields
							var productIdInputForEdit = document.getElementById('productId').value;
							var productName = document.getElementById('name').value;
							var productDescription = document.getElementById('description').value;
							var productPrice = document.getElementById('price').value;
							var productQuantity = document.getElementById('quantity').value;
							var productManufacturingDate = document.getElementById('manufacturingDate').value;
							var productExpiryDate = document.getElementById('expiryDate').value;
							var productCategory = document.getElementById('category').value;
							var productWeight = document.getElementById('weight').value;
							var productColour = document.getElementById('colour').value;
							var productQuality = "";
							// Collect other fields as needed...
							// Quality Parameters
							var productorganic = document.getElementById('organic').value;
							var productnonGmo = document.getElementById('nonGmo').value;
							var productwholeGrain = document.getElementById('wholeGrain').value;
							var productfreshnessGrocery = document.getElementById('freshnessGrocery').value;
							var productnutrientContent = document.getElementById('nutrientContent').value;
							
							var productfreshnessDairy = document.getElementById('freshnessDairy').value;
							var productpurity = document.getElementById('purity').value;
							var productfatContent = document.getElementById('fatContent').value;
							var producthomogenization = document.getElementById('homogenization').value;
							var productpasteurization = document.getElementById('pasteurization').value;
							
							var productfreshnessBakery = document.getElementById('freshnessBakery').value;
							var producttexture = document.getElementById('texture').value;
							var productmoistureContent = document.getElementById('moistureContent').value;
							var productflavorBakery = document.getElementById('flavorBakery').value;
							var productuniSizeShape = document.getElementById('uniSizeShape').value;
							
							var productnaturalIngredients = document.getElementById('naturalIngredients').value;
							var productflavorBeverages = document.getElementById('flavorBeverages').value;
							var productcolorBeverages = document.getElementById('colorBeverages').value;
							var productclarity = document.getElementById('clarity').value;
							var productshelfLife = document.getElementById('shelfLife').value;
							
							var productfreshnessMeat = document.getElementById('freshnessMeat').value;
							var productmarbling = document.getElementById('marbling').value;
							var productcolorMeat = document.getElementById('colorMeat').value;
							var productodor = document.getElementById('odor').value;
							var producttemperatureControl = document.getElementById('temperatureControl').value;
							

							// Create a JavaScript object with the collected data
							var productData = {
								productId: productIdInputForEdit,
								name: productName,
								description: productDescription,
								price: productPrice,
								quantity: productQuantity,
								manufacturingDate: productManufacturingDate,
								expiryDate: productExpiryDate,
								category: productCategory,
								weight: productWeight,
								colour: productColour,
								mode: action,
								organic: productorganic,
								nonGmo: productnonGmo,
								wholeGrain: productwholeGrain,
								freshnessGrocery: productfreshnessGrocery,
							    nutrientContent: productnutrientContent,
							    freshnessDairy: productfreshnessDairy,
							    purity: productpurity,
							    fatContent: productfatContent,
							    homogenization: producthomogenization,
							    pasteurization: productpasteurization,
							    freshnessBakery: productfreshnessBakery,
							    texture: producttexture,
							    moistureContent: productmoistureContent,
							    flavorBakery: productflavorBakery,
							    uniSizeShape: productuniSizeShape,
							    naturalIngredients: productnaturalIngredients,
							    flavorBeverages: productflavorBeverages,
							    colorBeverages: productcolorBeverages,
							    clarity: productclarity,
							    shelfLife: productshelfLife,
							    freshnessMeat: productfreshnessMeat,
							    marbling: productmarbling,
							    colorMeat: productcolorMeat,
							    odor: productodor,
							    temperatureControl: producttemperatureControl,
								// Add other fields...
							};


							// Use Axios to make the POST request
							axios.post('/register', productData, {
								headers: {
									'Content-Type': 'application/json',
								},
							})
								.then(response => {
									console.log('Success:', response.data);
									// Disable the form elements after submission
									disableFormElements(form);
									// Reload the page after successful form submission
									location.reload(true);
								})
								.catch(error => {
									console.error('Error:', error);
								});
						});
					} else {
						alert('Please select at least one product to edit.');
					}

				}
			}

        function disableFormElements(form) {
            var formElements = form.elements;
            for (var i = 0; i < formElements.length; i++) {
                formElements[i].disabled = true;
            }
        }

        function enableFormElements(form) {
            var formElements = form.elements;
            for (var i = 0; i < formElements.length; i++) {
                formElements[i].disabled = false;
            }
        }

        function deleteSelected() {
			
        document.getElementById('deleteProductLink').classList.add('active');
        document.getElementById('addProductLink').classList.remove('active');
        document.getElementById('editProductLink').classList.remove('active');
        
        // Find all checkboxes that are checked
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

        // Create an array to store the selected product IDs
        var selectedProductIds = [];

        // Loop through the checked checkboxes and extract the product IDs
        checkboxes.forEach(function (checkbox) {
            var productId = checkbox.closest('tr').querySelector('td:nth-child(2)').innerText;
            selectedProductIds.push(productId);
        });

        // Check if any checkboxes are selected
        if (selectedProductIds.length > 0) {
            // Confirm with the user before deleting
            if (confirm('Are you sure you want to delete the selected products?')) {
                // Use Axios to make the DELETE request
		            axios.delete('/delete/' + selectedProductIds)
		            .then(response => {
		                console.log('Success:', response.data);
		                // Reload the page after successful deletion
		                location.reload(true);
		            })
		            .catch(error => {
		                console.error('Error:', error);
		            });
            }
        } else {
            alert('Please select at least one product to delete.');
        }
        document.getElementById('deleteProductLink').classList.remove('active');
    }
    
    function isValidDate(dateString) {
		  var regex = /^\d{4}-\d{2}-\d{2}$/;
		  return dateString.match(regex) !== null;
		}
	
	    function toggleCheckbox(checkbox) {
        var checkboxes = document.getElementsByClassName('productCheckbox');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] !== checkbox) {
                checkboxes[i].checked = false;
            }
        }
    }

    function toggleAllCheckboxes() {
        var selectAllCheckbox = document.getElementById('selectAll');
        var checkboxes = document.getElementsByClassName('productCheckbox');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }
    
    function cancelProductForm() {
	    var form = document.getElementById('productForm');
	    
	    // Hide the form
	    form.style.display = 'none';
	
	    // Clear form fields
	    form.reset();
	
	    // Disable form elements
	    disableFormElements(form);
	    document.getElementById('addProductLink').classList.remove('active');
	    document.getElementById('editProductLink').classList.remove('active');
	    
	}
</script>




</body>
</html>